name: React App CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: subhansmd6/appointments-app:${{ github.run_number }}
      NEXUS_URL: 18.237.206.230:8081
      NEXUS_REPO: Appointments-app

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code
